:root {
  --btnColor: blue;
}

header {
  height: 50px;
  background-color: var(--btnColor);
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

header h2 {
  background-color: var(--btnColor);
  color: #fafafa;
  font-size: 25px;
}

.home {
  display: flex;
  margin-top: 50px;
}

.leftContent {
  width: 350px;
  padding: 5px 9px;
  max-height: 1200px;
}

.menu {
  padding: 25px;
  box-shadow: 2px 1px 1px #414141;
  border-radius: 7px;
  margin-top: 7px;
  background-color: white;
}

li {
  margin: 5px 5px;
}

.categoryTitle {
  font-size: 20px;
  background-color: white;
}

label {
  background-color: white;
}

.rightContent {
  width: 100%;
  padding: 35px 25px;
}

.topMenu {
  width: 100%;
  display: flex;
}

.searchBar {
  position: relative;
  width: 100%;
  display: flex;
}

.searchBtn {
  width: 20px;
  height: 20px;
}

#homePageInput {
  border-radius: 15px;
  height: 35px;
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
}

#homePageBtn {
  position: absolute;
  right: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 35px;
  padding: 0 15px;
}

.menuIcons {
  width: 45px;
  height: 100%;
  padding: 0 12px;
  filter: invert(99%) sepia(3%) saturate(241%) hue-rotate(262deg) brightness(114%) contrast(96%);
}

.title {
  margin: 0 auto;
  padding-top: 15px;
}

@media screen and (max-width: 425px) {
  .leftContent {
    position: absolute;
    width: 230px;
    z-index: 1;
  }
}

.query {
  display: flex;
}

.queries {
  display: flex;
  margin-right: 15px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.queries p {
  font-size: 12px;
  align-self: flex-end;
  color: var(--btnColor);
  margin-left: 5px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.8);
  transform: scale(1.002);
}
